- Retrieve all Match tuples which started after a specific date.
- Retrieve all Character tuples which have minimum player level < 5.

- List all handles of all players with level > 10.
- List all weapons with attack damage > 100 and attack speed between 1.5
and 2.5.

- Maximum coins owned by a player.
- Average/total kills over several matches for a given player..
- Sum of capacities of all servers.
- Sum of capacities of all servers.

- Tuples of characters whose names start with a particular letter.
- IDs of all players whose handles contain the supplied string.


Analysis:
- Analysis of the performance of a player with a certain character/on a certain map
by displaying win rates and average kills of the specified player..
- Analysis of characters & weapons popularity in metas by displaying their win rates
and play rates in matches that were played after the release of the latest update.
- Analyse the amount of matches being played in a certain server and the hours of
the day in which the servers are busy.
- Analyse the total amount of coins that a clan currently has.